@font-face {
  font-family:MontserratDownload;
  src:url("montserrat.woff");
}

body {
  /* background-color: #62959C; */
  font-family:Montserrat, MontserratDownload, Monospace;
  color: white; /* Dictates font color */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
}

html {
  height:100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ins {
  text-decoration: none;
}

input[type=text] { /* Affects all text inputs */
  font-family:Montserrat, MontserratDownload, Monospace;
  border: 0px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
}

input[type=text]:focus {
  outline: none;
}

.input-container {
  display: flex;
  width: 100%;
  margin-top: 4vw;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 6vw;
  color: black;
  padding: 3vw;
  min-width: 6vw;
  min-height: 6vw;
  background: white;
  text-align: center;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

.loginInput {
  font-size: 4vw;
  height: 12vw;
  width: 70%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  padding: 2vw; 
  display: inline-block;
}

button {
  font-family:Montserrat, MontserratDownload, Monospace;
  font-size: 4vw;
  color:black;
  width: 40%;
  height: 12vw;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2vw;
  box-sizing: border-box;
  background-color: white;
}

.subtext {
  font-size: 4vw;
}


/* Circular image frame */
.imageCrop {
  width: 30vw;
  height: 30vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  border: 1px solid white;
}

.profilePic {
  display: block;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#loginMenu, #signupMenu {
  height: 100%;
  text-align: center;
}

.bottomAlign {
  /* position: absolute; */
  bottom: 10vw;
}



/* Sidebar navigation style with animation */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  margin-top: 12vw;
  left: 0;
  background-color: #E3D0B9;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 2vw;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-top: 3.5vw;
  padding-bottom: 3.5vw;
  padding-left: 4vw;
  border-bottom: 1px solid;
}

.sidenav {
  position: absolute;
  top: 0;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navIcon {
  margin-right: 2vw;
}

.navButton {
  margin-left: -100vw;
}


/* List item styles */
.listItem {
  display: inline-block;
  width: 45%;
  height: 60vw;
  /* border: 1px solid gray; */
  border-radius: 8px;
  background-color:white;
  color:black;
  padding:2vw;
}

.listName {
  font-size: 4vw;
}

.listDesc, .listNewPrice, .listBeforePrice {
  font-size: 4vw;
}


.listImage {
  width: 100%;
  height: 40vw;
  border-radius: 8px;
  margin-bottom:-6vw;
}

.listStoreLogo {
  width: 68%;
  height: 6vw;
}

.dropdownImage {
  width: 100%;
  height: 6vw;
}


#popup {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: -5vw;
  left: 0;
  text-align: center;
  font-size: 4vw;
  color:black;
  background-color: #E3D0B9;
  overflow-x: hidden;
  transition: 0.5s;
  transition-property: height;
  padding-top: 5vw;
  opacity: 1;
}

.smallText {
  font-size: 3vw;
  color: gray;
}

.menu {
  margin-top:15vw; /* Makes space for the top bar */
}

/* Hamburger menu*/
.hamburger {
  font-size: 11vw;
  padding-left: 2vw;
  padding-top: 0.2vw;
}

#searchBar {
  position: absolute;
  width: 16vw;
  font-size: 4vw;
  height: 10vw;
  display: inline-block;
  top: 1vw;
  right: 2vw;
  padding-left: 3vw;
  border-radius: 2vw;
  transition: width 0.4s ease-in-out;
}

#searchBar:focus {
  width: 70vw;
}

.topBar {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:12vw;
  background-color: #62959C;
}

.filterBar {
  /* display: none; */
	position:absolute;
	left:0px;
	top:0vw;
	width:100%;
	height:12vw;
  background-color: #62959C;
  transition: 0.3s;
}




.dropbtn {
  background-color: white;
  color: black;
  padding: 2vw;
  font-size: 16px;
  border: none;
  width: 40vw;
  font-size: 5vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  width: 40vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: gray;
}