@font-face {
  font-family:MontserratDownload;
  src:url("montserrat.woff");
}

@font-face {
  font-family:Roboto;
  src:url("roboto-v27-latin-300.woff") format('woff'),
  url('roboto-v27-latin-300.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family:RobotoRegular;
  src:url("roboto-v27-latin-regular.woff") format('woff'),
  url('roboto-v27-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@media only screen and (max-width: 600px) { /* Phone-specific resolution */
  #loginMenu, #signupMenu {
    margin-top: 50vw;
  }

  .listItem {
    margin-top: 8vw;
  }
}

@media only screen /* Tablet-specific resolution */
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #loginMenu, #signupMenu {
      margin-top: 15vw;
    }

    .listItem {
      margin-top: 10vw;
    }
}

body {
  font-family:Roboto, Montserrat, MontserratDownload, Monospace;
  color: white; /* Dictates font color */
  margin: 0;
}

.loginBackground {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /*background-size: 400% 400%;*/
  animation: gradient 150s linear infinite; 
  background-color: white;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E"); */
  background-attachment: fixed;
  /* background-size: cover; */
  /* background by SVGBackgrounds.com */
}

.noBackground {
  background-color: white;
}

html {
  height:100%;
}

.material-icons {
  color:black;
  font-size: 7vw;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ins { /* Removes underline from ins element */
  text-decoration: none;
}

input[type="text"] { /* Affects all text inputs */
  font-family:RobotoRegular, Montserrat, MontserratDownload, Monospace;
  display: inline-block;
  box-sizing: border-box;
}

input[type=text]:focus {
  outline: none;
}

input[type=checkbox]:checked {
  color: black;
}

input[type=radio]:checked {
  color: black;
}

.input-container {
  display: flex;
  width: 100%;
  margin-top: 4vw;
  justify-content: center;
  align-items: center;
}

#loginMenu hr, #signupMenu hr {
  top: -3vw;
  position: relative;
  border: 0.1vw solid;
  width: 88%;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#loginMenu, #signupMenu {
  text-align: center;
  height: 100%;
}

.icon {
  font-size: 6vw;
  color: black;
  min-width: 6vw;
  min-height: 6vw;
  background: white;
  text-align: center;
  background-color: transparent;
}

.loginInput {
  font-size: 4vw;
  height: 12vw;
  width: 82%;
  border: 0px solid #ccc;
  padding: 2vw;
  display: inline-block;
  background-color: transparent;
}

button {
  font-family:RobotoRegular, Montserrat, MontserratDownload, Monospace;
  font-size: 4vw;
  color:black;
  width: 90%;
  height: 12vw;
  display: inline-block;
  box-sizing: border-box;
  border: 0 solid;
}

.redBtn {
  background-color: #ED1B24;
  color: white;
}

.whiteBtn {
  background-color: white;
  border: 0.6vw solid #ED1B24;
}

#loginMenu button, #signupMenu button {
  border-radius: 1vw;
  margin-top: 3vw;
}

.subtext {
  font-size: 4vw;
  color: #C4C4C4;
}

.darkText {
  color: black;
}

/* Circular image frame */
.imageCrop {
  width: 30vw;
  height: 30vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  border: 1px solid white;
}

.profilePic {
  display: block;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: none;
  margin-top: 20vw;
}

#settingsMenu {
  color:black;
}

.settingsText {
  margin-left: 8vw;
}

.settingsCheckbox {
  float: right;
  right: 6vw;
  position: relative;
}

.logOut {
  color: #ED1B24;
  font-family: RobotoRegular;
}

#settingsMenu hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 0.1vw;
  width: 88%;
  margin-bottom: 5vw;
  margin-top: 5vw;
}

/* Sidebar navigation */
.sidenav {
  height: 100%;
  width: 76vw;
  position: fixed;
  left: 100vw;
  background-color: white;
  overflow-x: hidden;
  transition: 0.3s;
  top: 0;
  z-index: 3;
}

.navButton {
  text-decoration: none;
  font-size: 4vw;
  color: black;
  display: block;
  transition: 0.3s;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 4vw;
}

.navIcon {
  margin-right: 4vw;
  top: 1vw;
  position: relative;
}

.navTop {
  padding-top: 6vw;
  padding-bottom: 6vw;
  background-color: #ED1B24;
  text-align: center;
  font-family: 'RobotoRegular';
  font-size: 6vw;
}

.navExit {
  left: 65vw;
  position: absolute;
  color: white;
  font-size: 9vw;
  margin-top: 2vw;
}

.userNameDisplay {
  margin-top: 4vw;
}

/* List item styles */
.listItem {
  display: inline-block;
  width: 100%;
  background-color: white;
  color: black;
  border-bottom: 0.1vw solid #C4C4C4;
}

.listImage {
  width: 26vw;
  height: 24vw;
  margin-bottom: 1vw;
  float: right;
}

.favoriteIcon {
  position: absolute;
  margin-left: 92vw;
  margin-top: -5vw;
  color: #ED1B24;
}

.listName {
  font-family: RobotoRegular;
  font-size: 8vw;
  margin-left: 2vw;
}

.listDesc {
  font-size: 4vw;
  color: gray;
  margin-left: 2vw;
}

.listBeforePrice {
  position: absolute;
  font-size: 5vw;
  border-radius: 2vw;
  padding: 1vw;
  margin-left: 16vw;
  margin-top: 0vw;
}

.listNewPrice {
  position: absolute;
  font-size: 5vw;
  background-color: #ED1B24;
  border-radius: 2vw;
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  color: white;
  margin-left: 16vw;
  margin-top: -10vw;
}

.listStoreLogo {
  margin-top: 4vw;
  width: 32vw;
  height: 6vw;
}

#listAnchor, #favoritesAnchor {
  /* position: absolute; */
  top: 26vw;
}

#popup {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: -5vw;
  left: 0;
  text-align: center;
  font-size: 4vw;
  color:black;
  background-color: #E3D0B9;
  overflow-x: hidden;
  transition: 0.5s;
  transition-property: height;
  padding-top: 5vw;
  opacity: 1;
}

.smallText {
  font-size: 3vw;
  color: gray;
}

#listMenu, #favoritesMenu {
  margin-top: 20vw; /* Makes space for the top bar */
}

/* Hamburger menu*/
.hamburger {
  font-size: 12vw;
  padding-right: 2vw;
  padding-top: 0.2vw;
  float: right;
  color: white;
}

.searchBarContainer {
  border-bottom: 0.1vw solid #C4C4C4;
  display: flex;
  width: 100%;
  margin-top: -8.2vw;
  align-items: center;
  z-index: 2;
  position: fixed;
  background: white;
  height: 12vw;
  padding-top: 2vw;
}

.searchIcon {
  margin-bottom: 2vw;
  margin-left: 2vw;
  position: relative;
  top: 2vw;
}

.filterIcon {
  margin-bottom: 2vw;
  color: black;
}

.filterTextIcon {
  float: right;
  right: 4vw;
  position: relative;
}

#searchBar {
  font-size: 5vw;
  padding: 2vw;
  width: 81%;
  margin-bottom: 2vw;
  border: 0;
}

.topBar .input-container {
  margin-top: -10vw;
  margin-left: -1vw;
  justify-content: flex-end;
}

.topBar .loginInput {
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-top-right-radius: 0vw;
  border-bottom-right-radius: 0vw;
}

.topBar .icon {
  border-top-left-radius: 0vw;
  border-bottom-left-radius: 0vw;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  min-height: 4vw;
  height: 4vw;
  font-size: 5vw;
}

.topBar {
  display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 12vw;
  background-color: #ED1B24;
  z-index: 2;
}

#pageHeader {
  margin-left: 2vw;
  font-size: 6vw;
  font-family: 'RobotoRegular';
  top: 2vw;
  position: relative;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 2vw;
  font-size: 16px;
  border: none;
  width: 40vw;
  font-size: 5vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  width: 40vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: gray;
}

.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}

.favListImg {
  height: 28vw;
  width: 32vw;
  position: relative;
  float: right;
  padding: 1vw;
}

.favListItem {
  color:black;
  font-size: 8vw;
  height: 30vw;
  border-radius: 2vw;
  box-shadow:inset 0px 0px 0px 3px rgba(0, 0, 0, 0.15);
}

.favListName {
  padding: 2vw;
}

.filterMenu {
  position: fixed;
  right: 0;
  width: 75vw;
  height: auto;
  z-index: 1;
  background-color: white;
  top: -38vw;
  transition: top 0.3s, box-shadow 0.3s;
}

.filterItem {
  text-decoration: none;
  font-size: 4vw;
  display: block;
  height: 6vw;
  transition: 0.3s;
  padding-top: 3.5vw;
  padding-bottom: 3.5vw;
  padding-left: 4vw;
  border-bottom: 1px solid #C4C4C4;
  color: black;
  overflow: hidden;
}

.filterHeader {
  background-color: #ED1B24;
  color:white;
}

.material-icons-outlined {
  font-size: 6vw;
}

.filterCheckbox {
  margin-right: -0.1vw;
  width: 6vw;
  height: 4vw;
}

.filterExit {
  color: white;
  left: -3.7vw;
}

.dropdownImage {
  width: 80%;
  height: 10vw;
  margin-top: 4vw;
}

.filterSubDropdown {
  margin-top: 2vw;
  margin-bottom: 4vw;
}

.loader {
  display: none;
  border: 3vw solid #E0E0E0;
  border-radius: 50%;
  border-top: 3vw solid #ED1B24;
  width: 10vw;
  height: 10vw;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
}

.loginHeader {
  text-align: left;
  font-size: 10vw;
  color: black;
  margin-left: 6vw;
  font-family: 'RobotoRegular';
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.filterBar {
  width: 100%;
  margin-top: 6vw;
  align-items: center;
  z-index: 1;
  position: fixed;
  background: white;
  height: 6vw;
  padding-top: 2vw;
  color: black;
  font-family: 'RobotoRegular';
  overflow: hidden;
  transition: 0.1s;
  width: 44vw;
}

.filterBarIcon {
  margin-left: 2vw;
  position: relative;
}

.filterBarDropdown {
  left: 28vw;
  position: relative;
}

#displayedFilter, #displayedFilterDropdown {
  margin-top: 0.5vw;
  position: absolute;
  margin-left: 1vw;
  font-size: 4.5vw;
}

#filterBarDropdown {
  padding-top: 3vw;
}

#filterBarDropdownIcon {
  transition: 0.3s;
}